@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
.btn-order{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(206, 58, 32));
    padding: 10px;
    color: white;
    border-radius: 10px;


}

.flexible-container{
    display: flex;
    margin: 1%;


}
.half-width{
    width: 50%;
    padding: 2%;
  
    margin: 1%;
}
.half-width img{
    width: 90%;
    border-radius: 15px;

}
#bg-image{
background-image: url(images/shapes/7.png);
background-position: right;


}
#bg-image1{
    background-image: url(images/shapes/7.png);
    background-position: left;
   
}
    

#h1-center{
    text-align: center;
}
#p-center{
    text-align: center;
}

.put-margin{
    margin: 1%;
}

.half-width-recipies{
    width: 30%;
    padding: 2%;
    margin: 1%;
    box-shadow: 10px 10px 20px rgb(240, 221, 221);
}
.half-width-recipies img{
    width: 90%;
    border-radius: 15px;
}
.flexible-container-subscriber {
    display: flex;
    margin: 1%;
   
    padding: 10px 40px;
}

.segment-p{
    text-align: center;
}
.segment-h1{
    text-align: center;
}
#footer-h1{
    text-align: center;
}

#footer-h3{
    text-align: center;
}


footer{
  
    background-color: rgb(3, 24, 36);
    color: white;
}









